.menu_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10vw;
}

.menu_box{
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  place-items: center;

}

.menu_box img {
  width: 25vw;
}

.menu_box img {
  transition: all 0.2s linear;
}

.menu_box img:hover{
  transform: scale(1.1);
}

.btn_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22vh;
}

.btn_box{
  display: grid;
  gap: 5vw;
  grid-template-columns: repeat(2, 1fr);

}

.btn-group-lg>.btn, .btn-lg{
  font-size: 16px;
  width: 44vw;
  background-color: black;
}

.logo_parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

