@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

nav{
    font-family: 'Happiness-Sans-Bold', serif;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 10px 3px #003F29;
}

.mission-box:after{ clear: both; display: block; content: ''}

.mission-box {
    height: 100%;
    background-color: #FFF4E7;
    width: 70%;
    border: 1px solid;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
}

#logo_mission {
    width: 20%;
}

.progress-container {
    background-color: #FFC42C;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -10px;
}

.progress {
    float: right;
    width: 75%;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.progress-text {
    float: left;
    margin: 10px;
    margin-right: 0px;
    width: 15%;
    font-size: 15px;
    text-align: center;
}

#mission {
    float: left;
    width: 60%;
    height: 100%;
    margin: auto;
}

.time-box {
    float: right;
    width: 70px;
    border-left: 1px solid;
    height: 100%;
    margin: auto 0;
    border-radius:0px 5px 5px 0px;
}

/*
.body_container {
    margin: 20% 0;
}
*/

.menu_name_container {
    font-family: 'Happiness-Sans-Bold', serif;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 6%;
}

.menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.menu_box {
    font-family: 'Happiness-Sans-Bold', serif;
    font-size: 16px;
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    place-items: center;
    padding-top : 2%;
}

.menu_box img {
    width: 20vw;
}

.menu_btn {
    float: left;
}

.eat-in {
    background-color: white;
    font-family: 'Happiness-Sans-Bold', serif;
    border: 1px solid;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.side_box {    
    display: grid;
    width: 20vw;
    grid-template-columns: repeat(1, 1fr);
    gap: 2vw;
    place-items: center;
    padding-top : 1%;
    float: left;
    text-align: center;
}

.side_item {
    place-items: center;
}

.side_box img {
    width: 12vw;
}
.side_box p {
    font-family: 'Happiness-Sans-Bold', serif;
    font-size: 10px;
    margin-bottom: 0.6rem;
}

.order_box{
  /* height:10vh; */
  position: absolute;
  bottom: 0;
}

.order_title{
  width:100vw;
  height: 3vh;
  background-color: #005738;
  color: white;
  padding-left: 2vw;
  font-size: 15px;
}

.order_contents{
  /* display: flex; */
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  height:10vh;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  color: #5E5E5E;
}

.order_bottom{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: #EBEBEB;
  height:5vh;
  margin: 0 auto;

}

button{
  width: 45vw;
  height: 3.5vh;
  text-align: center;
}