#mission {
    font-size:10px;
    padding-top:10px;
}

.mission-box {
    height: 13vw;
    background-color: #FFF4E7;
    width: 70vw;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    display: flex;

    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}