<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/kiosk_missionbar.css">
    <script src="./menu.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>SmartUs</title>
    <link rel="stylesheet" href="css/total.css">
</head>
<body style="margin: 0; background-color: #005738;">

    <nav class="navbar sticky-top bg-light">
        <div class="container-fluid">
            <div class="navbar-brand" id="logo_mission">
                <img src="../static/media/missionLogo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
                <span style="font-size: 20px;">미션</span>
            </div>
            <div class="mission-box">
                <p id="mission"></p>
                <div class="time-box">
                    <img src="../static/media/sand-clock.png" alt="시계" style="width: 15px">
                    <p class="time-left"></p>
                </div>
            </div>
        </div>
        <div class="progress-container">
            <p class="progress-text">진행률</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 8%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100">8%</div>
            </div>
        </div>
    </nav>
    <div class="logo-container">
        <img src="../static/media/mcdonald-logo.png" alt="mcdonald">
    </div>
    <div class="menu_container">
        <div class="menu_box">
            <div class="eat-in" id="is-eat-in" onClick="location.href='kiosk_3.html'">
                <img class="eat-img" src="../static/media/kiosk/eat-in.png" alt="eat-in">
                <p>매장에서 식사</p>
            </div>
            <div class="take-out" id="is-take-out" onClick="location.href='kiosk_3.html'">
                <img class="eat-img" src="../static/media/kiosk/take-out.png" alt="take-out">
                <p>테이크 아웃</p>
            </div>
        </div>
    </div>

    <script>
        getMission();
        timer();

        $("#is-eat-in").click(function(){ // 매장에서 식사할 때
            localStorage.setItem("is_take_out", "0");
        });

        $("#is-take-out").click(function(){ // 테이크아웃 할 때
            localStorage.setItem("is_take_out", "1");
        });

    </script>
</body>
</html>