<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/kiosk_missionbar.css">
    <script src="./menu.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>SmartUs</title>
</head>

<body style="margin: 0; background-color: #005738;">

    <nav class="navbar sticky-top bg-light">
        <div class="container-fluid">
            <div class="navbar-brand" id="logo_mission">
                <img src="../static/media/missionLogo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
                <span style="font-size: 20px;">미션</span>
            </div>
            <div class="mission-box">
                <p id="mission"></p>
                <div class="time-box">
                    <img src="../static/media/sand-clock.png" alt="시계" style="width: 15px">
                    <p class="time-left"></p>
                </div>
            </div>
        </div>
        <div class="progress-container">
            <p class="progress-text">진행률</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 72%;"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </nav>
    <div class="logo-container">
        <img src="../static/media/mcdonald-logo.png" alt="mcdonald">
    </div>
    <p style="text-align: center; color: white; margin-top: 10px;">주문을 확인하세요.</p>

    <div class="receipt-container">
        <div class="receipt-0">
            <span id="take-or-eat"></span> /
            <span id="which-service"></span>
        </div>
        <!--
        <div class="receipt-1">
            <p id="receipt-menu">
                <span>1</span> X <span>빅맥 버거 - 세트</span>
            </p>
            <p id="receipt-price">
                9,100원
            </p>
        </div>
        <div class="receipt-2"><p>콜라 - 라지</p><p>후렌치 후라이 L</p></div>
        <div class="receipt-3">
            <div class="receipt-button" id="button-delete" style="margin-left: 20px;">삭제</div>
            <div class="receipt-button" id="button-modify"style="margin-right: 20px;">변경</div>
        </div>
        -->
        <script>
            var menu = menuVar;
            var side = burger_side_var;
            var drink = burger_drink_var;
            // console.log(menu);
            // console.log(sessionStorage.getItem("basket"));
            var basket = JSON.parse(sessionStorage.getItem("basket"));
            // console.log(basket[0]);
            // item, name, set, side, drink, count, price
            // console.log(menu[basket[0][0]][basket[0][1]][basket[0][2]]);
            if ((basket[0][0] == 'hamburger') && (basket[0][2] != 0)) {
                document.write(
                    '<div class="receipt-1">' +
                        '<p id="receipt-menu">' +
                            '<span>' + basket[0][5] + '</span> X <span>' + menu[basket[0][0]][basket[0][1]][basket[0][2]]["name"] + '</span>' +
                        '</p>' +
                        '<p id="receipt-price"> ' +
                            Math.floor(basket[0][5] * basket[0][6] / 1000) + ',' + (basket[0][5] * basket[0][6] % 1000) + '원' +
                        '</p>' +
                    '</div>' +
                    '<div class="receipt-2"><p>' + side[basket[0][3]] + '</p><p>음료 - ' + drink[basket[0][4]] + '</p></div>' +
                    '<div class="receipt-3">' +
                        '<div class="receipt-button" id="button-delete" style="margin-left: 20px;">삭제</div>' +
                        '<div class="receipt-button" id="button-modify"style="margin-right: 20px;">변경</div>' +
                    '</div>'
                );
            } else if ((basket[0][0] == 'hamburger') && (basket[0][2] == 0)) {
                document.write(
                    '<div class="receipt-1">' +
                            '<p id="receipt-menu">' +
                                '<span>' + basket[0][5] + '</span> X <span>' + menu[basket[0][0]][basket[0][1]][basket[0][2]]["name"] + '</span>' +
                            '</p>' +
                            '<p id="receipt-price"> ' +
                                Math.floor(basket[0][5] * basket[0][6] / 1000) + ',' + (basket[0][5] * basket[0][6] % 1000) + '원' +
                            '</p>' +
                        '</div>' +
                        '<div class="receipt-3">' +
                            '<div class="receipt-button" id="button-delete" style="margin-left: 20px;">삭제</div>' +
                            '<div class="receipt-button" id="button-modify"style="margin-right: 20px;">변경</div>' +
                        '</div>'
                );
            } else {
                document.write(
                    '<div class="receipt-1">' +
                        '<p id="receipt-menu">' +
                            '<span>' + basket[0][5] + '</span> X <span>' + menu[basket[0][0]][basket[0][1]]["name"] + '</span>' +
                        '</p>' +
                        '<p id="receipt-price"> ' +
                            Math.floor(basket[0][5] * basket[0][6] / 1000) + ',' + (basket[0][5] * basket[0][6] % 1000) + '원' +
                        '</p>' +
                    '</div>' +
                    '<div class="receipt-3">' +
                        '<div class="receipt-button" id="button-delete" style="margin-left: 20px;">삭제</div>' +
                        '<div class="receipt-button" id="button-modify"style="margin-right: 20px;">변경</div>' +
                    '</div>'
                );
            }
        </script>
    </div>


    <script>
        var menu = menuVar;
        var side = burger_side_var;
        var drink = burger_drink_var;
        // console.log(menu);
        // console.log(sessionStorage.getItem("basket"));
        var basket = JSON.parse(sessionStorage.getItem("basket"));
        // console.log(basket[0]);
        // item, name, set, side, drink, count, price
        // console.log(menu[basket[0][0]][basket[0][1]][basket[0][2]]);
        for (i = 1; i < basket.length; i++) {
            if ((basket[i][0] == 'hamburger') && (basket[i][2] != 0)) {
                document.write(
                    '<div class="receipt-container">' +
                        '<div class="receipt-1">' +
                            '<p id="receipt-menu">' +
                                '<span>' + basket[i][5] + '</span> X <span>' + menu[basket[i][0]][basket[i][1]][basket[i][2]]["name"] + '</span>' +
                            '</p>' +
                            '<p id="receipt-price"> ' +
                                Math.floor(basket[i][5] * basket[i][6] / 1000) + ',' + (basket[i][5] * basket[i][6] % 1000) + '원' +
                            '</p>' +
                        '</div>' +
                        '<div class="receipt-2"><p>' + side[basket[i][3]] + '</p><p>' + drink[basket[i][4]] + '</p></div>' +
                        '<div class="receipt-3">' +
                            '<div class="receipt-button" id="button-delete" style="margin-left: 20px;">삭제</div>' +
                            '<div class="receipt-button" id="button-modify"style="margin-right: 20px;">변경</div>' +
                        '</div>' +
                    '</div>'
                );
            } else if ((basket[i][0] == 'hamburger') && (basket[i][2] == 0)) {
                document.write(
                    '<div class="receipt-container">' +
                        '<div class="receipt-1">' +
                                '<p id="receipt-menu">' +
                                    '<span>' + basket[i][5] + '</span> X <span>' + menu[basket[i][0]][basket[i][1]][basket[i][2]]["name"] + '</span>' +
                                '</p>' +
                                '<p id="receipt-price"> ' +
                                    Math.floor(basket[i][5] * basket[i][6] / 1000) + ',' + (basket[i][5] * basket[i][6] % 1000) + '원' +
                                '</p>' +
                        '</div>' +
                        '<div class="receipt-3">' +
                                '<div class="receipt-button" id="button-delete" style="margin-left: 20px;">삭제</div>' +
                                '<div class="receipt-button" id="button-modify"style="margin-right: 20px;">변경</div>' +
                        '</div>' +
                    '</div>'
                );
            } else {
                document.write(
                    '<div class="receipt-container">' +
                        '<div class="receipt-1">' +
                            '<p id="receipt-menu">' +
                                '<span>' + basket[i][5] + '</span> X <span>' + menu[basket[i][0]][basket[i][1]]["name"] + '</span>' +
                            '</p>' +
                            '<p id="receipt-price"> ' +
                                Math.floor(basket[i][5] * basket[i][6] / 1000) + ',' + (basket[i][5] * basket[i][6] % 1000) + '원' +
                            '</p>' +
                        '</div>' +
                        '<div class="receipt-3">' +
                            '<div class="receipt-button" id="button-delete" style="margin-left: 20px;">삭제</div>' +
                            '<div class="receipt-button" id="button-modify"style="margin-right: 20px;">변경</div>' +
                        '</div>' +
                    '</div>'
                );
            }
        }
    </script>

    <div class="next-button" onclick="location.href='select_pay.html'">다음</div>
    <script>
        getMission();
        timer();

        if (localStorage.getItem('is_take_out') === "1")
            document.getElementById("take-or-eat").innerHTML = "테이크 아웃";
        else
            document.getElementById("take-or-eat").innerHTML = "매장에서 식사";

        if (localStorage.getItem('is_table_service') === "1")
            document.getElementById("which-service").innerHTML = "테이블 서비스";
        else
            document.getElementById("which-service").innerHTML = "셀프 서비스";


    </script>
</body>

</html>