nav{
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 10px 3px #003F29;
}

.mission-box:after{ clear: both; display: block; content: ''}

.mission-box {
    height: 100%;
    background-color: #FFF4E7;
    width: 70%;
    border: 1px solid;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
}

#logo_mission {
    width: 20%;
}

.progress-container {
    background-color: #FFC42C;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -10px;
}

.progress {
    float: right;
    width: 75%;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.progress-text {
    float: left;
    margin: 10px;
    margin-right: 0px;
    width: 15%;
    font-size: 15px;
    text-align: center;
}

#mission {
    float: left;
    width: 60%;
    height: 100%;
    margin: auto;
}

.time-box {
    float: right;
    width: 70px;
    border-left: 1px solid;
    height: 100%;
    margin: auto 0;
    border-radius:0px 5px 5px 0px;
}