<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu_style.css">
    <title>SmartUs</title>
</head>
<body style="margin: 0;">
    <img src="../static/media/back_img.png"
    style="width:100%">

    <img src="../static/media/SMARTUS.png"
    style="width: 50%; padding: 25%; padding-top: 18%">

    <div class="container">
        <div class="item">a</div>
        <div class="item">b</div>
        <div class="item">c</div>
        <div class="item">d</div>
    </div>
</body>
</html>