<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartUs</title>
</head>
<body>
    <img src="../static/media/logo.png"
    style="width:20%; padding: 40%; padding-bottom : 20px;
    padding-top : 60%; margin-top:20%;">
    <img src="../static/media/SMARTUS.png"
    style="width:60%; padding-left:20%; padding-right: 20%;">

    <script>
        // 3초 후 자동으로 화면 넘어가는 기능 구현
        setTimeout(function() {
            var link = 'menu.html';
            location.href = link;
        }, 3000);
    </script>

</body>
</html>